.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.WelcomeContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.WelcomeButton {
  padding-top: 25vh;
}

.Dictionary {
  padding-top: 10vh;
}

.LearningContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.LearningPaper {
  padding-top: 10vh;
}

.kanjiPad {
  display: flex;
  justify-content: space-between;
}

.kanji {
  padding-top: 20px;
}

.options {
  display: flex;
  justify-content: space-around;
}

.timeCounter {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-right: 10px;
}

